/*   IMPORTANDO VARIÁVEIS, MEDIA-QUERIES E OUTROS CONTEÚDOS REUTILIZÁVEIS   */
@import "variables.scss";
@import "mobile.scss";


/* COMMOM */
body{
    background-color: $WhiteSmoke;
    overflow-x:hidden;
    h1{
        font-family: $fonteDefault;
        font-weight: regular;
        font-size: 28pt;
    }
    h2{
        font-family: $fonteDefault;
        font-weight: bold;
        font-size: 21pt;
    }
    h3{
        font-family: $fonteDefault;
        font-weight: bold;
        font-size: 14pt;
    }
    h4{
        font-family: $fonteDefault;
        font-weight: bold;
        font-size: 11pt;
    }
    li{
        font-family: $fonteDefault;
        font-weight: normal;
        font-size: 18pt;
    }
    a{
        font-family: $fonteDefault;
        font-weight: normal;
        font-size: 18pt;
    }
    p{
        font-family: $fonteDefault;
        font-weight: normal;
        font-size: 14pt;
        line-height: 24px;
    }
    button{
        font-family: $fonteDefault;
        font-weight: bold;
        font-size: 16pt;
        border:none;
    }
}

/* HEADER */
@import "header.scss";

/* MAIN CONTENT */
main{
    margin-bottom:30px;
    .plans{
        margin-top:75px;
        .plan-item{
            padding:24px;
            background-color: $White;
            border-radius: 25px;
            box-shadow: $BoxShadow;
            h1{
                font-weight:bold;
            }
            p{
                font-size:18px;
                line-height: 24px;
            }
            .price{
                margin-top:42px;
                font-size:24pt;
                font-weight:normal;
            }
            .price::after{
                font-size:12pt;
                line-height:24pt;
                vertical-align:text-top;
                margin-left:10px;
                content:"/ mês + taxas";
            }
            button{
                height:48px;
                border-radius:24px;
                margin-top:15px;
                padding-left:30px;
                padding-right:30px;
            }
        }
    }
    .testimonials{
        margin-top:80px;
        img{
            float:left;
        }
        .info{
            margin-left:92px;
            .name{
                font-size:18pt;
                margin-top:7px;
                margin-bottom:0px;
            }
            .description{
                font-size:11pt;
                margin-top:3px;
                margin-bottom:0px;
                line-height:17px;
            }
        }
        .testimonial{
            blockquote{
                padding:0px 30px 0px 30px;
                font-size:12pt;
                line-height:20px;
            }
            blockquote::before{
                content:"“";
                font-size:18pt;
                color: $UltramarineBlue;
            }
            blockquote::after{
                content:"”";
                font-size:18pt;
                color: $UltramarineBlue;
            }
        }
    }
}


    