/* SMARTPHONES */
@media (max-width: 575.98px) { 
    .desktop-logo, .desktop-menu{
        display:none;
    }
    .header-bg{
        height: 590px !important;
        width: 140% !important;
        margin-left:-20% !important;
        margin-top:-10% !important;
    }
    .header-bg2{display:none !important;}
    .header-bg2-mobile{
        display:block !important;
        position:absolute;
        margin-top:-5px;
        right:-15px;
        height:68px;
        width:68px;
        border-left:68px solid #00b5fa;
        border-bottom:15px solid transparent;
    } 
    .header-bg3{
        top: 500px !important;
    }
    .header-top{
        margin-top:0px !important;
        .col-md-2{
            margin:0;
            padding:0;
            #hamburguer{
                display:block;
                span{
                    font-size:30px;
                    cursor:pointer;
                    color:white;
                    font-weight:bold;
                }
                svg{
                    margin-top:-10px;
                    margin-left:20px;
                }
            }
        }
    } 
    .header-content{
        h1{
            font-size: 2.33rem;
            margin-top:20px !important;
        }
        p{
            font-size:0.9rem;
            line-height:1.5rem;
            width:100% !important;
        }
        button{
            margin-top:0px !important;
            font-size:1.05rem;
        }
        .cellphone{
            margin-top:45px;
            margin-left:0px !important;
            width:200px !important;
            height:355px !important;
            img{
                width:calc(100% - 17.5px);
            }
        }
        .calculator{
            position:absolute;
            margin-left:150px !important;
            height: 208px !important;
            width: 200px !important;
            margin-top:-245px !important;
            .display{
                height:36px !important;
                border-radius:18px !important;
                margin-top:-5px;
                margin-bottom:4px !important;
                h3{
                    line-height:1.4rem !important;
                }

            }
            .dot{
                height: 31px !important;
                width: 51px !important;
            }
        }
    } 
    .plans{
        .plan-item{
            margin-bottom:40px;
        }
        .col-md-4:nth-child(2){
            .plan-item{
                margin-bottom:22px;
            }
        }
    }
    .testimonials{
        .info{
            margin-top:20px;
        }
        .testimonial{
            margin-top:25px;
        }
    }
    .newsletter{
        margin-left:20px;
        button{
            float:right;
            margin-top:10px;
            margin-right:5px;
        }
    }

}